
.dl-horizontal dt {
    white-space: normal;
}



* {
    direction: rtl;
}
.body {
    padding-top: 150px;
}



.dl-horizontal dt {
    white-space: normal;
}


nav.navbar-expand-lg {
    margin-top: -8px;
    font-weight: 500;
    font-size: large;
    color: green !important;
}

nav div.container-fluid {
    background: #624097 !important;
}

nav.navbar-expand-lg div ul li {
    padding: 8px;
}

    nav.navbar-expand-lg div ul li:hover {
        border-bottom: 1px solid white;
    }

    nav.navbar-expand-lg div ul li a {
        color: azure;
    }

@media(min-width:768px) {
    nav div div.loginAndRegister {
        padding-right: 30%;
        
    }
}






#submit {
    font-weight: 400;
}

#submit:hover {
    background: #5bc0de;
    color: white;
}
