@{
    ViewBag.Title = "Home Page";
}
<p class="pt-1 "></p>
<p class="text-center fs-1  py-3 text-primary ">طبيب الخير </p>
<div class="container-fluid bg-white rounded m-2 mb-5 mt-5 " style="border:1px solid #EEE">
    <p class="text-center fw-light fs-2 lead mb-5 pt-4" style="color:#025955">خدمات وبرامج طبيب الخير </p>
    <div class="row">
        @* First Section *@
        <div class="col">
            <h5 class="text-center text-primary">استشارة طبيب مجانا</h5>
            <p class="lead fs-5 p-3" >
                يمكنك استشاره طبيب مجانا وإرفاق صورة للروشتة الطبية
                احصل على استشارتك الطبية من خلال أحد أطبائنا المحترفين، ويمكنك الرجوع إليه في أى وقت للمتابعة السريعة


            </p>

        </div>
        @* second Section *@


        <div class="col">
            <h5 class="text-center text-primary"
                >التبرع بالدواء مجانا</h5>
            <p class="lead fs-5 p-3">
                يمكنك التبرع بالدواء مجانا من خلال عرض الكمية المتوفره لديك وعنونك السكني . سيتم عرض البيانات لأي مشترك يبحث عن دواء مجاني ويمكنه التواصل معك للحصول علي الدواء

            </p>
        </div>
        @* third Section *@


        <div class="col">
            <h5 class="text-center text-primary">البحث عن الدواء  </h5>
            <p class="lead fs-5 p-3">
                 يمكنك البحث عن الدواء وتظهر نتائج البحث اقرب مكان يتوفر فيه الدواء الذي تبحث عنه.
                يمكن لكل صيدلية ادخال العنوان متضمنا المحافظة والمدينة وتخزين بيانات الدواء المتوفر لديها بكثرة وكذلك الدواء الذي به ندرة والبحث عن اقرب مكان يوفره

            </p>
        </div>
</div>


</div>
@* Doctor image *@
<div class="container-fluid m-md-2 m-md-4 rounded bg-white mt-5  " style="border:1px solid #18a8aa">
    <div class="row">
        <div class="col ">
            <img src="~/Content/Images/doctors-banner.svg" class="img-fluid rounded bg-danger" alt="Doctor Image">
        </div>
        <div class="col " style="color:#18a8aa">
            <p class="pt-4">هل أنت طبيب؟</p>
            <h2 class="pt-2">
                انضم الآن إلى أكبر مجتمع عربي طبي على الانترنت
            </h2>
            <p class="text-dark pt-2">
                إذ كنت ترغب في الانضمام لمجتمع طبيب الخير والاستفادة من الخدمات العديدة التي يوفرها طبيب الخير للمستخدمين.. لا تتردد وابدأ الآن بتسجيل الاشتراك

            </p>
            <div class="py-md-3 py-md-3 mb-md-3 mb-md-0">
                <a href="" class="btn btn-lg text-white" style="background-color:#18a8aa;">سجل طبيب الان</a>
            </div>
        </div>



    </div>
</div>
@* image with caption *@
<div class="container-fluid text-center mt-5 bg-white">
    <p class=" fw-light fs-2 lead p-2" style="color:#005cb8">توفير الدواء “مجانا”..مبادرات لا حصر لها تطلقها الجمعيات الخيرية وغرف صناعة الدواء</p>
    <p class=" fw-light fs-4 lead p-2">
        يأتي توفير الدواء المجاني للمحتاجين وغير القادرين على رأس أولويات الجمعيات الأهلية وصناديق دعم الأدوية<br /> وغرف صناعة الدواء، حيث انطلقت العديد من المبادرات التي تؤتي ثمارها في توفير الدواء “مجانا” للأسر التي <br />لم يشملها التأمين الصحي


        <a href="/Home/DontatingMedicine" class="text-decoration-none">اضغط للتبرع بالعلاج مجانا</a>

    </p>
    <img src="~/Content/Images/medicines.svg" class="img-fluid" alt="Medicines">

</div>
